@tailwind base;

@tailwind components;

@tailwind utilities;

@import '@fontsource/ibm-plex-sans/300.css';
@import '@fontsource/ibm-plex-sans/400.css';
@import '@fontsource/ibm-plex-sans/500.css';
@import '@fontsource/ibm-plex-sans/600.css';
@import '@fontsource/ibm-plex-sans/700.css';
@import '@fontsource/ibm-plex-sans/400-italic.css';

@import '~@fontsource/ibm-plex-mono/300.css';
@import '~@fontsource/ibm-plex-mono/400.css';
@import '~@fontsource/ibm-plex-mono/500.css';
@import '~@fontsource/ibm-plex-mono/600.css';
@import '~@fontsource/ibm-plex-mono/700.css';
@import '~@fontsource/ibm-plex-mono/400-italic.css';

// React Diagrams must have explicit width and height
.fullsize {
  width: 100vw;
  height: 70vh;

  // GRID BACKGROUND...
  // background-size: 50px 50px;
  // display: flex;
  // background-image: linear-gradient(
  //         0deg,
  //         transparent 44%,
  //         darkgray 45%,
  //         darkgray 46%,
  //         transparent 47%,
  //         transparent 94%,
  //         darkgray 95%,
  //         darkgray 96%,
  //         transparent 97%,
  //         transparent
  //     ),
  //     linear-gradient(
  //         90deg,
  //         transparent 44%,
  //         darkgray 45%,
  //         darkgray 46%,
  //         transparent 27%,
  //         transparent 94%,
  //         darkgray 95%,
  //         darkgray 96%,
  //         transparent 97%,
  //         transparent
  //     );
}

// Fixes link labels
foreignObject > div > div {
  background-color: transparent !important;
  padding: 0px !important;
  position: absolute !important;
  top: 3px !important;
}

.Toastify__toast-body {
  background: #e5e7eb;
  font-family: monospace;
  color: #4499af;
}
.Toastify__toast {
  background: #e5e7eb !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Configure scrollbar */

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #edf2f7;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cbd5e0;
  border-radius: 100vh;
  border: 3px solid #edf2f7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a0aec0;
}

/* disable tabindex outline */
*[tabindex]:focus {
  outline: none;
}

/* loading styles  */
.loading-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -20px;
  margin-right: -20px;
}
