@import '~@fontsource/ibm-plex-sans/300.css';
@import '~@fontsource/ibm-plex-sans/400.css';
@import '~@fontsource/ibm-plex-sans/500.css';
@import '~@fontsource/ibm-plex-sans/600.css';
@import '~@fontsource/ibm-plex-sans/700.css';
@import '~@fontsource/ibm-plex-sans/400-italic.css';

@import '~@fontsource/ibm-plex-mono/300.css';
@import '~@fontsource/ibm-plex-mono/400.css';
@import '~@fontsource/ibm-plex-mono/500.css';
@import '~@fontsource/ibm-plex-mono/600.css';
@import '~@fontsource/ibm-plex-mono/700.css';
@import '~@fontsource/ibm-plex-mono/400-italic.css';
